@model IEnumerable<Validations.Models.Fees>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.smonth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.smonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.SName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
